CSS Reset


* {
	font-family: "Open Sans", sans-serif;

}

body {
		background-color: #0E1F1A;
}

#font {
	font-family: "Open Sans", sans-serif;

}

}


nav {
	background-color: #54636B;
	padding: 1rem;
	color: #CBA20E;

}

#bg-image {
	min-height: 100vh;
	background-image: url(https://images.bauerhosting.com/legacy/empire-tmdb/films/75656/images/9wbXqcx6rHhoZ9Esp03C7amQzom.jpg?format=jpg&quality=80&width=960&height=540&ratio=16-9&resize=aspectfill);
	background-size: 100%;
	background-position: center top;
	text-align: middle center;
	padding: 1rem;

	margin-top: 1rem;

}
.front-bg {

	background-color: rgba(0, 0, 0, 0.5);
	min-height: 100vh;
}

.subtitle {
	color: #CBA20E;
	
	position: sticky;
	
	margin-top: 5rem;
}

.container {
	color: #CBA20E;
	
	position: sticky;
	
	margin-top: 5rem;
}

#footer {


	background-color: #54636B;
	padding: 1rem;
	color: #CBA20E;

}

#how {
	color: #CBA20E;

}

#yes {
	background-color: 54636B;
	color: #CBA20E;
}

#footer {
	color: #CBA20E

}
